<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/banner.css" />
    <link rel="stylesheet" href="/css/jedate.css" />
    <link rel="stylesheet" href="/css/wangEditor.min.css" />

    <title>cms</title>
</head>
<body>
<div class="header">
    <div>后台管理系统</div>
    <div class="out">退出</div>
    <div class="manager"></div>
</div>
<div class="content">
    <div class="sidebar">
        <div>功能导航</div>
        <ul class="siderbar_option">
            <li>
                &nbsp;&nbsp;>代理专区
                <ul class="ul">
                    <li id="operatorRecharge">添加代理金币</li>
                    <li id="operatorRecard">添加代理房卡</li>
                </ul>
            </li>
            <li>
                &nbsp;&nbsp;>玩家专区
                <ul class="ul">
                    <li id="playerRecharge">添加代理金币</li>
                    <li id="playerRecard">添加代理房卡</li>
                </ul>
            </li>
            <li>
                &nbsp;&nbsp;>代理关系
                <ul class="ul">
                    <li id="operatorRelation">关系查询</li>
                </ul>
            </li>
            <li>
                &nbsp;&nbsp;>分润统计
                <ul class="ul">
                    <li id="rateStatistics">分润统计</li>
                    <li id="operatorRate">代理分润</li>
                </ul>
            </li>
            <li>
                &nbsp;&nbsp;>提现管理
                <ul class="ul">
                    <li id="withdrawMoney">提现列表</li>
                </ul>
            </li>
            <li>
                &nbsp;&nbsp;>系统管理
                <ul class="ul">
                    <li id="ModifyPassword">修改密码</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="msg">

    </div>

</div>
<script src="/js/jquery.js"></script>
<script src="/js/wangEditor.js"></script>
<script src="/js/jquery.jedate.js"></script>
<script src="/js/jquery.form.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/jquery.ui.widget.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script src="/js/highcharts.js"></script>


<script type="text/javascript">
    $(function(){
        var username = sessionStorage.getItem("username");
        $('.manager').html("当前登录管理员账号： "+username+"您好。");
    });
</script>
</body>
</html>
