				<ul class="msg_option">
					<li class="active">代理关系</li>
				</ul>				
				<div class="msg_content">
					
					<div class="info_title">
						<div>代理（共<span id="agent_total">0</span>条）</div>
					</div>
					<div>
						<table class="info_make">
							<thead>
							<tr>
								<th style="width: 15%">序号</th>
								<th style="width: 15%">用户ID</th>
								<th style="width: 15%">代理ID</th>
								<th style="width: 15%">用户名</th>
								<th style="width: 15%">别名</th>
								<th style="width: 15%">父代理ID</th>
								<th style="width: 10%"></th>
							</tr>
							</thead>
						</table>
					</div>
					<div>
						<ul class="info_make">
								<li>
									<div>
										<div style="width: 15%;text-align: center">序号</div>
										<div class="state" style="text-align: center"><img src="/img/上.svg" alt="" /></div>
										<div style="width: 15%;text-align: center">父代理ID</div>
										<div style="width: 15%;text-align: center">别名</div>
										<div style="width: 15%;text-align: center">用户名</div>
										<div style="width: 15%;text-align: center">代理ID</div>
										<div style="width: 15%;text-align: center">用户ID</div>
									</div>
									<div class="make_msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi laudantium repellendus ipsum quo nesciunt quidem fuga iure illum nulla vitae distinctio ipsam accusantium culpa dolorum dolores quam natus fugit esse!
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia illo ab necessitatibus distinctio tempora deleniti maxime inventore voluptatibus nisi veritatis sint aliquid esse quaerat omnis debitis nobis et molestiae hic.
									</div>
								</li>
						</ul>
					</div>

				</div>
				<ul class="fenye"></ul>

				<script src="/js/agent.js"></script>