/*
* @Author: Marte
* @Date:   2017-07-06 13:56:51
* @Last Modified by:   Marte
* @Last Modified time: 2017-07-19 10:30:51
*/
.agent{
  margin: 0 100px;
}
.agent > div:first-child{
  border: 1px solid #ddd;
  padding: 6px;
  margin-top: 10px;
  border-radius: 4px;
}
.query{
  padding: 6px 12px;
  border-bottom: 1px solid #ddd;
}
#agentForm > div > div{
  width: 350px;
  text-align: left;
}
#agentForm > div:first-child,
#agentForm > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}
#agentForm > div:nth-child(3){
  text-align: right;
}
#agentForm > div:nth-child(3) > span{
  display: inline-block;
  padding: 6px 20px;
  border-radius: 4px;
  background: #1E88E5;
  color: #fff;
  cursor: pointer;
}
#agentForm label,
#agentForm input,
#agentForm select,
#createBroker label,
#createBroker input,
#createBroker select{
  padding: 6px 0;
}
#agentForm select{
  width: 200px;
}
#agentForm input{
  width: 90px;
}
#agentForm label,
#createBroker label{
  text-align: right;
  width: 100px;
}
.agentTable{
  width: 100%;
}

#config{
  margin: 10px 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}
#config > div:first-child{
  background: blue;
  padding: 6px 12px;
  border-radius: 4px;
}
#agentConfigForm > div{
  overflow: hidden;
}
#agentConfigForm > div > div{
  width: 45%;
  float: left;
}
#createBroker{
  margin-top: 30px;
}
#createBroker > div{
  overflow: hidden;
  padding: 0 20px;
}
#createBroker > div > div{
  float: left;
  width: 50%;
  padding-bottom: 20px;
}