/* .fix{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,.5);
	display: none;
}
.fix>.content{
	width:50%;
	height:70%;
	margin:5% auto 0;
	border-radius:10px;
	background:#fff;
	padding:20px;
}
.upload_img{
	width:200px;
	height:150px;
	margin:0 auto;
	border:1px dashed #ddd;
}
.upload_img+div{
	text-align:center;
	padding-top:10px;
}
 */
.pop_edit,
.pop_delete{
	cursor: pointer
}
.pop_edit{
	margin-right: 10px;
}
#publish_time1,
#expire_time1{
	padding:3px 6px;
	width:250px;
}
#activity_tbody tr td:nth-child(2),
#popAds_tbody tr td:nth-child(2){
	width: 150px;
}
#activity_tbody tr td:nth-child(2) img,
#popAds_tbody tr td:nth-child(2) img{
	width: 100%;
}