@charset "utf-8";

#img_content{
  margin: 0 20px;
}

#img_content{
  overflow: hidden;
}
#img_content > div{
  float: left;
}
#img_content > div:first-child{
  width: 200px
}
#img_content > div:nth-child(2){
  width: calc(100% - 200px);
}

#build_img_group{

}
.build_img_form{
  padding: 10px;
  margin: 10px 4px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 2px #999;
}
.img_group_info,
.getImg_info,
.modify_img_info,
.again_name_info,
.move_group_info,
.delete_img_info{
  font-size: 12px;
  color: red;
  text-align: center;
}
#cancel_build_group{
  display: inline-block;
  padding: 4px 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 12px;
  margin: 4px 10px;
  cursor: pointer;
}
#get_group_btn{
  font-size: 12px;
  color: #fff;
  background: rgb(71, 122, 199);
  border: 0;
  padding: 4px 10px;
  border-radius: 5px;
  margin-left: 30px;
}
#build_img_group{
  cursor: pointer;
  padding: 5px 12px;
}
#img_content_list li{
  padding: 5px 0;
  cursor: pointer;
}
#item_content{
  margin-top: 10px;
  padding: 0 0 10px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}
#item_content > div{
  float: left;
  width: calc(20% - 20px);
  background: lightblue;
  margin-right: 20px;
  margin-top: 10px;
}
#item_content > div > img{
  width: 100%;
  height: 150px;
}
.item_checked_name span + span{
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
  color: blue;
}
.modify_img,.delete_img{
  cursor: pointer;
}
.modify_img{
  margin-left: 10px;
}
.delete_img{
  margin-left: 50px;
}
/* 批量图片上传遮罩 */
.modal{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,.8);
}
.modal_contnet{
  background: #fff;
  width: 700px;
  margin: 300px auto 0;
  padding: 20px;
  border-radius: 8px;
}
.files{
  width: 100%;
  overflow: hidden;
}
.files label{
  float: left;
  width: 122px;
  height: 120px;
  background: lightblue;
  margin-left: 15px;
  margin-top: 15px;
  position: relative;
}
.files label input{
  width: 100%;
  height: 100%;
  opacity: 0;
}
.files label img{
  position: absolute;
  left: 0;
  top: 0;
  width: 122px;
  height: 120px;
}
#cancelOnload{
  display: inline-block;
  cursor: pointer;
}
.imgName{
  margin-left: 5px;
  font-size: 12px;
}
.item_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item_header > div:nth-child(2){
  width: 300px;
}
.item_header > div:nth-child(2) > label{
  width: 50px;
}
.moveGroup,
.deleteAllImgBtn,
.again_name{
  position: relative;
  display: inline-block;
  width: 100px;
  text-align: center;
  cursor: pointer;
}
.modify_img,
.delete_img{
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.moveGroup > div,
.deleteAllImgBtn > div,
.again_name > div,
.modify_img > div,
.delete_img > div
{
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: absolute;
  left: -50px;
  top: 30px;
  width: 150px;
}
#moveGroupOption{
  width: 100px;
}

#group_name,
.name{
  width: 150px;
}
#againName,
#moveGroup,
#deleteAllImgBtn,
.editImgName,
.DeleteImg{
  margin-left: 30px;
}
.modal_imgname
{
  z-index: 100;
  top: -95px !important;
  left: 10px !important;
}
.modal_imgdelete{
   z-index: 100;
  top: -95px !important;
  left: -90px !important;
}