*{
    margin: 0;
    padding: 0;
}
.inpage{
    margin: 0 12px;
}
h1.title{
    font-size: 19px;
    font-weight: bold;
    line-height: 22px;
    margin: 12px 0;
}
.content p{
    text-indent: 2em;
    font-size: 15px;
    color: #333;
    line-height: 20px;
}
.content p img,.content img{
    width: 100%;
    height: auto;
    margin: 12px 0 8px 0;
}
.content p a{
    color: #037CFC;
    text-decoration: none;
}
