
.info_news>li{
	padding:15px 0;
	line-height:150px;
	overflow: hidden;
	border-bottom:1px solid #ddd;
}
.info_news>li>div{
	float:left;
	margin-right:20px;
}
.info_news>li>div:first-child{
	width:160px;
	height:120px;
	overflow: hidden;
}
.info_news>li>div:first-child>img{
	width:100%;
	vertical-align: middle;
}
.info_news>li>div:nth-child(2){
	width:30%;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.info_news>li>div:nth-child(3),
.info_news>li>div:nth-child(4),
.info_news>li>div:nth-child(5),
.info_news>li>div:nth-child(6),
.info_news>li>div:nth-child(7){
	float:right;
}
label{
	width:200px;
}
