/*
* @Author: Marte
* @Date:   2017-07-08 14:48:34
* @Last Modified by:   Marte
* @Last Modified time: 2017-07-10 10:40:40
*/

#form {
  margin: 12px 100px;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 4px;
}
#form > div{
  width: 100%;
  overflow: hidden;
}
#form > div > div{
  width: calc(50% - 13px);
  float: left;
}
#form > div > div > input {
  padding: 6px 12px;
}
#form > div > div > label {
  text-align: right;
}
#form > span {
  font-size: 12px;
  padding: 6px 12px;
  float: right;
}
#query{
    margin: 20px auto;
    color: #fff;
    background: #4778c7;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.tableStyle{
  margin: 45px 100px 0 100px;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 4px;
}
.tableStyle > table {
  width: 100%;
}
.pagination{
  display: table;
  margin: 10px auto;
  overflow: hidden;
}
.pagination li{
  float: left;
  padding: 6px;
  margin-left: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}
.pagination li.active{
  background: #4778c7;
  color: #fff;
  border: none;
}
