/*
* @Author: Marte
* @Date:   2017-07-06 15:08:50
* @Last Modified by:   Marte
* @Last Modified time: 2017-07-06 15:12:45
*/
.settingfile{
  margin: 0 100px;
}
.bar {
  height: 18px;
  background: green;
}
.settingfile > div{
  border: 1px solid #ddd;
  padding: 6px;
  margin-top: 10px;
  border-radius: 4px;
}
.query{
  padding: 6px 12px;
  border-bottom: 1px solid #ddd;
}
#settingfileForm > div{
  width: 350px;
  text-align: left;
}
#settingfileForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}
#settingfileForm > div:nth-child(3){
  text-align: right;
}
#settingfileForm > div:nth-child(3) > span{
  display: inline-block;
  padding: 6px 20px;
  border-radius: 4px;
  background: #1E88E5;
  color: #fff;
  cursor: pointer;
}
#settingfileForm label,
#settingfileForm input{
  padding: 6px 0;
}

#settingfileForm input{
  width: 200px;
}
#settingfileForm label{
  text-align: right;
  width: 100px;
}
#settingfileTable{
  width: 100%;
}