<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/admin.css" />
		<title></title>
	</head>
	<body>
		<div class="admin">
			<div>后台管理系统</div>
			
				<input type="text" id="name" placeholder="用户名" required/><br />
				<input type="password" id="password" placeholder="密码" /><br />
				<div id="btn">提交</div>
				<div class="info"></div>
			</form>
		</div>
		<script src="/js/jquery.js"></script>
		
		<script>
			
			 $('#name').change(function(){
				name=$(this).val();	
				console.log(name);
			});
			$('#password').change(function(){
				 password=$(this).val();
				 console.log(password);
			});
			
			$('#btn').click(function(){
				$.ajax({
				type:"post",
				url:"/oss/user/login",
				data:{user_name:name,pwd:password},
				async:true,
				success:function(obj){	
					console.log(obj);
					if(obj.code=="100"){
						console.log(obj.data);
						sessionStorage.setItem("token", obj.data);
						sessionStorage.setItem("baseUrl", "/");
						//console.log($.cookie('token'));
						window.location.href="/index.html";																							
					}
					else{
						$('.info').html(obj.message);
					}
					}
				})
			})
		</script>
	</body>
</html>
