<link rel="stylesheet" type="text/css" href="/css/app.css"/>
<ul class="msg_option pdan">
	<li class="active">分享设置</li>				
</ul>	

<div class="app">
	<div>
		<form id="appShareForm">
			<div class="form-group" style="margin-top: 120px">
				<label for="file" class="appShareFile">封面图</label>
				<div class="appShareImg"></div>
				<div class="filePackage">
					点击上传
					<input type="file" name="file" id="file"/>
				</div>
				<span style="margin-left: 10px">备注：图片不超过250K</span>
			</div>
			
			<div class="form-group">
				<label for="title">标题</label>
				<input type="text" name="title" id="title" class="input"/>
				0/40
			</div>
			
			<div class="form-group">
				<label for="content">内容</label>
				<textarea name="content" rows="5" cols="" id="content"></textarea>
				0/200
			</div>
			
			<div class="form-group">
				<label for="url">链接地址</label>
				<input type="url" name="url" id="url" class="input"/>				
			</div>
			
			<input type="hidden" name="token" id="token"/>
			
			<button id="appShareBtn">保存</button>
			<div class="info"></div>
		</form>
	</div>
	<div class="appPreview1">
		<div class="appPreview">
			<div>
				<div>
					<div></div>
					<div></div>
				</div>
				
			</div>
			<div><img src="" alt="" /></div>
		</div>		
	</div>
	<div style="text-align: center;">预览效果</div>
</div>
<script src="/js/appshare.js"></script>