
				<link rel="stylesheet" href="/css/banner.css">
                <ul class="msg_option pdan">
					<li id="phone" class="active">移动端</li>
					<li id="activity">活动专区</li>
                    <li id="pop">弹窗广告</li>
                    <li id="flashAd">快讯广告</li>
				</ul>
                <div>
                     <!--
                        BANNER内容
                    -->
                    <div class="msg_content" id="phone_">
                        <div class="info_title">
                            <div>BANNER图（共<span id="total">0</span>条）</div>
                            <div class="banner_  build1" data-i="modal_banner">+发布BANNER图</div>
                        </div>
                        <ul class="info_banner" >
                        </ul>
                        <ul class="fenye" key='1'></ul>
                    </div>

                    <!--
                        活动专区内容
                    -->
                    <div id="activity_">
                        <div style="padding:20px;overflow: hidden;">
                            <div style="float:left">
                                当前状态：开启/关闭首页展示，进行中<span id="proceed">0</span>条，预约<span id="make_">0</span>条
                            </div>

                            <span id="newly_build" class="build2" data-i="activity_new">新建</span>
                            <span id="view_toggle" class="view_toggle" style="cursor:pointer;float:right;padding:6px 15px;background:#ddd;color:#fff;border-radius:5px;margin-right:10px">点击开启</span>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>排序</th>
                                    <th>图片</th>
                                    <th>标题</th>
                                    <th>链接地址</th>
                                    <th>开始时间</th>
                                    <th>截止时间</th>
                                    <th>公布范围</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="activity_tbody"></tbody>
                        </table>
                        <ul class="fenye" key='2'></ul>
                    </div>

                    <!--
                        弹窗广告内容
                    -->
                    <div id="popAds" style="display: none">
                        <div style="padding:20px;overflow: hidden;">
                            <div style="float:left">
                                当前状态：<span id="ooo">0</span>条在线，<span id="ppp">0</span>条预约
                            </div>
                            <span  class="build3"  style="cursor:pointer;float:right;padding:6px 15px;background:#1E88E5;color:#fff;border-radius:5px;margin-right:10px">新建</span>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>排序</th>
                                    <th>图片</th>
                                    <th>标题</th>
                                    <th>链接地址</th>
                                    <th>发布时间</th>
                                    <th>过期时间</th>
                                    <th>公布范围</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                          </thead>
                          <tbody id="popAds_tbody"></tbody>
                        </table>
                        <ul class="fenye" key="3"></ul>
                    </div>

                    <!--
                        快讯广告内容
                     -->
                    <div id="flashAd_">
                        <div>
                            <div>当前配置</div>
                            <ul id="flashAdUl">
                                <li id="flashAdGoing">
                                </li>
                                <li id="flashAdOrder">
                                </li>
                            </ul>
                        </div>
                        <div>
                            <div>新建</div>
                            <form id="buildFlashAd">
                                <div>
                                    <label>标题:</label>
                                    <input type="text" placeholder="标题不能超过40字符" name="flash_title" id="flash_title"/>
                                </div>
                                <div>
                                    <span>上传图片:</span>
                                    <label for="flash_img" class="previewShow">
                                        <span class="previewImg">+</span>
                                    </label>
                                    <p>
                                        支持图片类型：.jpg .png .gif...              分辨率：750×200 px              文件大小：不超过500kB
                                        <input type="file" name="flash_img" id="flash_img" style="visibility: hidden;">
                                    </p>
                                </div>
                                <div>
                                    <label>跳转链接:</label>
                                    <input type="text" placeholder="请输入以http://或https://开头的链接地址" name="flash_url" id="flash_url"/>
                                </div>
                                <div>
                                    <label>有效起始时间:</label>
                                    <input type="text" id="validStartTime" name="publish_time" id="flash_publish_time"/>
                                </div>
                                <div>
                                    <label>有效结束时间:</label>
                                    <input type="text" id="validEndTime" name="expire_time" id="flash_expire_time"/>
                                </div>
                                <input type="hidden" name="token" class="token">
                                <input type="hidden" name="form_token" class="form_token">
                                <input type="reset" name="" class="reset" style="visibility:hidden">
                                <div>
                                    <button id="buildFlashAdBtn">确认</button>
                                    <span id="buildFlashAdInfo"></span>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!--
                        移动端遮罩内容
                    -->
                    <div id="modal_banner" style="display: none;">
                        <div class="modal_content_banner">
                            <form action="" id="banner_form">
                                <div class="xixi">
                                </div>
                                <input type="file" name="file" id="file"/>
                                <span>大小不超过500k</span><br />
                                <div class="form-group">
                                    <label for="info_title">标题</label>
                                      <input id="info_title" name="title" type="text" />
                                </div>
                                <div class="form-group">
                                    <label for="publish_time">上线时间</label>
                                      <input id="publish_time" name="publish_time" type="text" />
                                </div>
                                 <div class="form-group">
                                    <label for="expire_time">下线时间</label>
                                    <input type="text" name="expire_time" id="expire_time" />
                                 </div>
                                 <div class="form-group">
                                    <label for="jump_url">跳转链接</label>
                                    <input type="url" name="jump_url" id="jump_url" placeholder="请以http://开头" />

                                 </div>
                                 <input type="hidden" name="token" id="token" value="" />
                                 <input type="hidden" name="form_token" class="form_token" value/>
                                 <input type="hidden" name="id" id="id">
                                <button id="banner_btn">确认发布</button>
                                <div class="info"></div>
                            </form>
                        </div>
                    </div>

                    <!--
                        活动专区新建框
                    -->
                    <div id="activity_new" style="display: none">

                        <form action="" id="activity_form">

                            <!--上传活动图片-->
                            <div class="form_group">
                                <span style="display:inline-block;width:100px;margin-top:-95px">活动图片</span>
                                <input type="file" id="activity_file" name="activity_file"/>
                                <label for="activity_file" class="onload_" style="vertical-align: middle;">
                                    点击上传图片
                                </label>
                                <span style="display:inline-block;vertical-align: middle;padding-left:20px;">图片尺寸：340*190 <br />大小：400k <br />格式：JPG/PNG/GIF    </span>
                            </div>

                            <!--上传活动标题-->
                            <label for="activity_title">活动标题</label>
                            <input type="text" maxlength="40" name="activity_title" id="activity_title"/>
                            <span>0/40</span><br />

                            <!--上传跳转链接-->
                            <label for="activity_url">跳转链接</label>
                            <input type="url" name="activity_url" id="activity_url" placeholder="请输入http://或https://开头的URL"/><br />

                            <div class="form_group">
                            <!--上传开始时间-->
                                <label for="start_time">开始时间</label>
                                <input type="text" name="start_time" id="start_time"/>
                            <!--上传结束时间-->
                                <label for="end_time">结束时间</label>
                                <input type="text" name="end_time" id="end_time"/>
                            </div>

                            <input type="hidden" name="token" id="activity_token"/>
                            <input type="hidden" name="id" id="activity_modify"/>
                            <input type="hidden" name="form_token" class="form_token">
                            <!--选择用户类型-->
                            <span style="display:inline-block;width:100px">公布范围</span>
                            <input type="radio" name="activity_scope" id="activity_scope1" value="0" checked="checked"/>
                            <label for="activity_scope1">所有用户</label><br />
                            <span style="display:inline-block;width:100px"></span>
                            <input type="radio" name="activity_scope" id="activity_scope2" value="1"/>
                            <label for="activity_scope2">指定用户</label>
                            <input type="text" placeholder="请输入黄金先生账号，多个账号用“，”隔开" id="scope_description" name="scope_description"/>



                            <button id="activity_btn">提交</button>
                            <div class="info"></div>
                        </form>
                    </div>

                     <!--
                        弹窗广告新建框
                    -->
                    <div id="modal_pop" style="display: none">

                        <form action="" id="pop_form">
                            <!--上传活动图片-->
                            <div class="form_group">
                                <span style="display:inline-block;width:100px;margin-top:-95px">弹窗广告</span>
                                <input type="file" id="activity_page_file" name="activity_page_file"/>
                                <label for="activity_file" class="file_show" style="vertical-align: middle;">
                                    点击上传图片
                                </label>
                                <span style="display:inline-block;vertical-align: middle;padding-left:20px;">图片尺寸：750*280 <br />格式：JPG/PNG/GIF    </span>
                            </div>

                            <!--上传活动标题-->
                            <label for="page_title">广告标题</label>
                            <input type="text" maxlength="40" name="page_title" id="page_title"/>
                            <span>0/40</span><br />

                            <!--上传跳转链接-->
                            <label for="page_url">跳转链接</label>
                            <input type="url" name="page_url" id="page_url" placeholder="请输入http://或https://开头的URL"/><br />

                            <div class="form_group">
                                <!--上传开始时间-->
                                <label for="publish_time">发布时间</label>
                                <input type="text" name="publish_time" id="publish_time1"/>
                                <!--上传结束时间-->
                                <label for="expire_time">过期时间</label>
                                <input type="text" name="expire_time" id="expire_time1"/>
                            </div>
                            <input type="hidden" name="form_token" class="form_token">
                            <input type="hidden" name="token" id="pop_token"/>
                            <input type="hidden" name="id" id="pop_id"/>
                            <!--选择用户类型-->
                            <span style="display:inline-block;width:100px">公布范围</span>
                            <input type="radio" name="activity_scope_page" id="activity_scope_page1" value="0" checked="checked"/>
                            <label for="activity_scope1">所有用户</label><br />
                            <span style="display:inline-block;width:100px"></span>
                            <input type="radio" name="activity_scope_page" id="activity_scope_page2" value="1"/>
                            <label for="activity_scope2">指定用户</label>
                            <input type="text" placeholder="请输入黄金先生账号，多个账号用“，”隔开" id="scope_description_page" name="scope_description_page"/>
                            <button id="pop_btn">提交</button>
                            <div class="info"></div>
                        </form>
                    </div>

                    <!--
                        快讯广告修改遮罩
                     -->
                     <div id="modal_flash">
                        <div>
                            <div>修改<span class="modalFlashClose" style="float: right; cursor: pointer">关闭</span></div>
                            <form id="editFlashAd">
                                <div>
                                    <label>标题:</label>
                                    <input type="text" placeholder="标题不能超过40字符" name="flash_title" id="flash_title1"/>
                                </div>
                                <div>
                                    <span>上传图片:</span>
                                    <label for="flash_img1" class="previewShow">
                                        <span class="previewImg">+</span>
                                    </label>
                                    <p>
                                        支持图片类型：.jpg .png .gif...              分辨率：750×200 px              文件大小：不超过500kB
                                        <input type="file" name="flash_img" id="flash_img1" style="visibility: hidden;">
                                    </p>
                                </div>
                                <div>
                                    <label>跳转链接:</label>
                                    <input type="text" placeholder="请输入以http://或https://开头的链接地址" name="flash_url" id="flash_url1"/>
                                </div>
                                <div>
                                    <label>有效起始时间:</label>
                                    <input type="text" id="validStartTime1" name="publish_time"/>
                                </div>
                                <div>
                                    <label>有效结束时间:</label>
                                    <input type="text" id="validEndTime1" name="expire_time"/>
                                </div>
                                <input type="hidden" name="token" class="token">
                                <input type="hidden" name="form_token" class="form_token">
                                <input type="hidden" name="id" id="flash_id">
                                <div>
                                    <button id="editFlashAdBtn">确认</button>
                                    <span id="buildFlashAdInfo"></span>
                                </div>
                            </form>
                        </div>
                     </div>
                </div>


    			<div class="queren">
    				<div>
    					<h3>确定要删除吗</h3>
    					<div class="ok">确定</div>
    				</div>
    			</div>

			<script src="/js/banner.js"></script>


