
<ul class="msg_option pdan">
	<li id="data" class="active">落地页数据</li>
	<li id="user_data">用户转换数据</li>
</ul>
<div class="market">
	<div>
		<!--
        落地页数据
    -->

		<div class="table">
			<form action=""  id="market_form">
				<div class="form-group">
					<label for="startTime">开始时间</label>
					<input type="date" name="startTime" id="startTime"/>
					<label for="channel">营销渠道</label>
					<select name="channel" id="channel">
						<option value="">全部</option>
						<option value="AT001">AT001</option>
						<option value="AT002">AT002</option>
						<option value="AT003">AT003</option>
					</select>
				</div>
				<div class="form-group">
					<label for="endTime">结束时间</label>
					<input type="date"  name="endTime" id="endTime"/>
					<label for="os">操作系统</label>
					<select name="os" id="os">
						<option value="">全部</option>
						<option value="ios">ios</option>
						<option value="android">android</option>
						<option value="其他">其他</option>
					</select>
				</div>
				<div class="form-group">
					<label for="programme">落地方案</label>
					<select name="programme" id="programme">
						<option value="">全部</option>
						<option value="第一套">第一套</option>
						<option value="第二套">第二套</option>
						<option value="第三套">第三套</option>
						<option value="第四套">第四套</option>
					</select>
					<label for="pageTitle">页面标题</label>
					<select name="pageTitle" id="pageTitle">
						<option value="">全部</option>
						<option value="开户">开户</option>
						<option value="介绍">介绍</option>
					</select>
				</div>
				<button class="market_btn1">查询</button>
			</form>

		</div>


		<table class="market_table">
			<thead>
			<tr>
				<th>序号</th>
				<th>日期</th>
				<th>落地方案</th>
				<th>页面标题</th>
				<th>url</th>
				<th>渠道</th>
				<th>操作系统</th>
				<th>平均停留时间(s)</th>
				<th>平均加载时间(s)</th>
				<th>PV</th>
				<th>UV</th>
			</tr>
			</thead>
			<tbody class="market_tbody">
			<!--<tr>
                <td>1</td>
                <td>2017/04/25</td>
                <td>第一套</td>
                <td>开户</td>
                <td>www.ghfintech.com.cn1</td>
                <td>全部</td>
                <td>全部</td>
                <td>2.23</td>
                <td>0.89</td>
                <td>34</td>
                <td>21</td>
            </tr>		-->
			</tbody>
		</table>
		<p>合计：PV(<span id="pv"></span>次)&nbsp;&nbsp;|&nbsp;&nbsp;UV(<span id="uv"></span>次)</p>
		<ul class="fenye">

		</ul>
	</div>
	<div style="display: none;">
		<!--
            用户转换数据
        -->
		<div class="table">
			<form action="" id="market_form">
				<div class="form-group">
					<label for="startTime">开始时间</label>
					<input type="date"  name="startTime" id="startTime1"/>
					<label for="channel">营销渠道</label>
					<select name="channel" id="channel1">
						<option value="">全部</option>
						<option value="AT001">AT001</option>
						<option value="AT002">AT002</option>
						<option value="AT003">AT003</option>
					</select>
				</div>
				<div class="form-group">
					<label for="endTime">结束时间</label>
					<input type="date" id="endTime1" name="endTime"/>
				</div>
				<button class="market_btn2">查询</button>
			</form>
		</div>

		<table>
			<thead>
			<tr>
				<th>序号</th>
				<th>日期</th>
				<th>渠道</th>
				<th>PV</th>
				<th>UV</th>
				<th>获取验证码</th>
				<th>注册成功</th>
			</tr>
			</thead>
			<tbody class="market_tbody">
			<!--
            <tr>
                <td>1</td>
                <td>2017/04/25</td>
                <td>全部</td>
                <td>34</td>
                <td>21</td>
                <td>15</td>
                <td>10</td>
            </tr>    -->
			</tbody>
		</table>

		<p>合计：PV(<span id="pv1"></span>次)&nbsp;&nbsp;|&nbsp;&nbsp;UV(<span id="uv1"></span>次)&nbsp;&nbsp;|&nbsp;&nbsp;获取验证码(<span id="code"></span>次)&nbsp;&nbsp;|&nbsp;&nbsp;注册成功 (<span id="login"></span>)次</p>
		<ul class="fenye"></ul>
	</div>
</div>
<script src="/js/jquery.jedate.min.js"></script>
<script src="/js/jquery.form.min.js"></script>
<script src="/js/market.js"></script>
				