<link rel="stylesheet" type="text/css" href="/css/offer.css">
<ul class="msg_option">
  <li class="active">offer</li>
</ul>
<div>
  <form action="" method="get" id="form">
    <div>
      <div>
        <label for="start">开始时间:</label>
        <input type="text" name="start" id="start"/>
      </div>
      <div>
        <label for="end">截止时间:</label>
        <input type="text" name="end" id="end"/>
      </div>
    </div>
    <span id="submit">导出</span>
    <span id="query">查询</span>
  </form>
  <div class="info"></div>
  <div class="tableStyle">
    <table>
      <thead>
        <tr>
          <td>排序</td>
          <td>创建时间时间</td>
          <td>手机号</td>
          <td>渠道</td>
        </tr>
      </thead>
      <tbody id="offerTbody">
      </tbody>
    </table>
  </div>
  <ul class="pagination"></ul>
</div>
<script src="/js/offer.js"></script>