<link rel="stylesheet" type="text/css" href="/css/recording.css">

  <ul class="msg_option" id="menuCol">
    <li class="communal active">公共频道</li>
    <li class="vip">VIP频道</li>
    <li class="install">栏目设置</li>
  </ul>
  <div>
  <!-- 栏目设置 -->
  <div id="recordingColInstall">
    <!-- 展示内容 -->
    <table>
      <thead>
        <tr>
          <th>排序</th>
          <th>栏目标题</th>
          <th>列表页展示</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody id="colContent">
        <tr>
          <td>1</td>
          <td>公共频道</td>
          <td>true</td>
          <td>
            <span>向上</span>
            <span>向下</span>
            <span>修改</span>
            <span>删除</span>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>VIP频道</td>
          <td>true</td>
          <td>
            <span>向上</span>
            <span>向下</span>
            <span>修改</span>
            <span>删除</span>
          </td>
        </tr>
      </tbody>
    </table>

    <span class="buildColInstall">新建栏目</span>
    <!-- 操作表单 -->
    <form id="colInstallForm">
      <div class="form-control">
        <label>标题</label>
        <input type="text" name="title" class="form-text" placeholder="1-10个字符" id="cls_name">
      </div>
      <div class="form-control">
        <span>是否显示在列表页</span>
        <label>是</label><input type="radio" name="show_index" value="1" checked="checked">
        <label>否</label><input type="radio" name="show_index" value="0" id="hasShow">
      </div>
      <input type="hidden" name="cls_id" id="cls_id">
      <input type="reset" id="reset" style="display: none">
      <input type="hidden" name="token" class="token">
      <div class="form-control">
        <span id="cancelFormIntall">取消</span>
        <button id="saveFormIntall">保存</button>
        <span id="colInfo"></span>
      </div>
    </form>
  </div>


  <!-- 公共频道 -->
  <div class="msg_content" id="recordingContent" style="display: none">
    <div class="info_title">
        <div>视频信息（共<span id="recordingTotal">0</span>条）</div>
        <div id="buildVideoInfo">新建视频信息</div>
    </div>
    <ul class="info_recording">
      <!-- <li>
        <div>
          <div><img src="" alt=""></div>
          <div>标题</div>
          <div>视频时长</div>
          <div>查看评论</div>
          <div>首页推荐</div>
          <div><span>修改</span><span>删除</span></div>
        </div>
        <div>
          <div>
            <div>创建时间</div>
            <div>发布时间</div>
            <div>修改时间</div>
          </div>
          <div>
            <div>观看量</div>
            <div>点赞量</div>
            <div>评论量</div>
          </div>
        </div>
      </li> -->
    </ul>
    <ul class="fenye" key='1'></ul>
  </div>

  <!-- 频道操作表单 -->
  <div id="channelFormPage" style="display: none">
      <!--头部-->
      <div class="modal_news_title">
        <span class='return'><img src="/img/返回.svg" alt="" /></span>
        <span>录播／新建视频信息</span>
      </div>
        <!--表单数据-->
      <form id="channelForm">
        <!-- 隐藏内容 -->
        <input type="hidden" name="token" class="token">
        <input type="hidden" name="form_token" class="form_token">
        <input type="hidden" name="cls_id" id="cls_id1">
        <input type="hidden" name="id" id="id">
        <input type="reset" id="reset1" style="display: none">

        <!--封面图片-->
        <div class="modal_news_img_onload">
          <p><span>列表页图片上传</span><span>图片大小建议尺寸：240像素＊134像素</span><span>不超过200K</span></p>
          <input type="file" name="file1" id="imgFile"/>
          <div id="result" style="width:300px;margin-top:10px"></div>
        </div>

        <div class="modal_news_info">
          <!--标题-->
          <label for="title">标题</label>
          <input type="text" placeholder="请在这里输入标题(最多20字)" id="title" name="title" maxlength="20"/>

          <!-- 视频简介 -->
          <div class="form-group">
            <label for="video_desc">视频简介</label>
            <textarea name="video_desc" id="video_desc"></textarea>
          </div>

          <!--发布日期-->
          <div class="form-group">
            <label for="publish_time">发布日期</label>
            <input type="text"  id="publish_time" name="publish_time"/>
          </div>

          <!--小图or大图-->
          <div class="form-group">
            <label for="is_big_img1">小图</label><input type="radio" name="is_big_img" id="is_big_img1" value="0"/>
            <label for="is_big_img2">大图</label><input type="radio" name="is_big_img" id="is_big_img2" value="1" checked="checked"/>
          </div>

          <!--公布范围-->
          <div class="form-group" style="height:40px;line-height:40px">
            <span style="display:inline-block;width:100px;text-align:right">公布范围</span>
            <label for="all">所有用户</label><input type="radio" name="scope" value="0" id="all" checked="checked"/>
            <label for="appoint">指定用户</label><input type="radio" name="scope" value="1" id="appoint"/>
            <input type="text" id="assign_phone" name="assign_phone" placeholder="请输入手机号码 用,分开" style="width:300px"/>
          </div>

          <!-- 主讲人信息 -->
          <div class="form-group">
            <span style="display:inline-block;width:100px;text-align:right">主讲人</span>
            <span class="speakerInfo">
             <!-- <label>111</label><input type="checkbox" name="" >
             <label>111</label><input type="checkbox" name="">
             <label>111</label><input type="checkbox" name=""> -->
            </span>
          </div>

          <!--视频时长-->
          <div class="form-group">
            <label for="video_duration">视频时长</label>
            <input type="text" name="video_duration" id="video_duration"/>
          </div>

          <!--阅读量、点击量-->
          <div class="form-group">
            <label for="play_count">观看量</label><input type="number" id="play_count" name="play_count"/>
            <label for="good_count">点赞量</label><input type="number" id="good_count" name="good_count"/>
          </div>

           <!-- 上传视频 -->
           <div class="form-group">
             <label>上传视频</label>
             <label for="videoFile" class="videobtn">点击上传视频</label>
             <input type="file" name="file2" value="" id="videoFile">
           </div>

        </div>

        <div class="modal_news_option">
         <!--  <button id="add_drafts">保存至草稿</button> -->
          <button id="release">发布</button>
        </div>
        <div class="info"></div>
      </form>
  </div>

  <!-- 评论层 -->
  <div class="view">
    <div>
      <div class="clear_">关闭</div>
      <div class="view_title"></div>
      <!-- <div>
          <input type="checkbox" name="" id="contorl_switch">
          <label for="contorl_switch">仅看精品留言</label><br>
          <span style="color: red; font-size: 12px;">提示：只有设置为精选的留言才会APP客户端展示。</span>
      </div> -->
      <div>评论量： <span class="commentTotal"></span></div>
      <ul id="view">
        <!-- <li>
          <dl>
            <dt><img src="" alt="" /></dt>
            <dd>用户名：<span></span></dd>
          </dl>
          <div></div>
          <div><span class="delete">删除</span></div>
        </li> -->
      </ul>
    </div>
  </div>

  <!-- 加载中 -->
  <div class="loading">
    <img src="/img/1.gif" alt=""><br>
    <span>正在加载中，请稍后</span>
  </div>

  </div>
  <script src="/js/recording.js"></script>

