<link rel="stylesheet" type="text/css" href="/css/settingfile.css">
<ul class="msg_option">
  <li class="active">结算文件</li>
</ul>
<div class="settingfile">
  <div>
    <div class="query">上传结算文件</div>
    <form id="settingfileForm">
      <div>
        <label for="balance_start">结算起始时间：</label>
        <input type="text" name="balance_start" id="balance_start"/>
      </div>
      <div>
        <label for="balance_end">结算结束时间：</label>
        <input type="text" name="balance_end" id="balance_end"/>
      </div>
      <div>
          <input type="file" id="fileupload" name="fileupload" hidden>
          <span id="upload">上传结算文件</span>
          <div class="info"></div>
      </div>
    </form>
    <div>
      <span>文件名：<b id="file_name"></b></span>
      <span style="margin-left: 20px">文件大小：<b id="file_size"></b></span>
    </div>
    <div>说明：请上传*.xls或*.xlsx文件，大小不得超过500kB</div>
  </div>


  <table id="settingfileTable">
    <thead>
      <tr>
        <th>序号</th>
        <th>结算起始时间</th>
        <th>结算结束时间</th>
        <th>结算文件</th>
        <th>代理手续费总额</th>
        <th>计佣手续费总额</th>
        <th>经纪人收入总额</th>
        <th>状态</th>
        <th>最后操作日期</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody class="settingfile_tbody">
      <tr>
      </tr>
    </tbody>
  </table>
  <ul class="fenye"></ul>
</div>
<script>
    $("#balance_start").jeDate({
        isinitVal:false,
        festival:true,
        ishmsVal:false,
        //minDate: $.nowDate(0),
        maxDate: $.nowDate(0),
        format:"YYYY-MM-DD",
        zIndex:3000,
    }) ;
    $("#balance_end").jeDate({
        isinitVal:false,
        festival:true,
        ishmsVal:false,
        //minDate: $.nowDate(0),
        maxDate: $.nowDate(0),
        format:"YYYY-MM-DD",
        zIndex:3000,
    }) ;
</script>
<script src="/js/settingfile.js"></script>