<link rel="stylesheet" type="text/css" href="/css/speaker.css">
<ul class="msg_option">
  <li class="active">主讲人</li>
</ul>
<div class="msg_content">
  <div class="info_title">
      <div>主讲人信息（共<span id="total">0</span>条）</div>
      <div id="speakerBuild">新建主讲人</div>
  </div>

  <ul class="info_speaker" id="info_speaker">
    <!-- <li>
      <div>
        <div>
          <b class="imgShow">
            <img src="" alt="" />
          </b>
          <b>主讲人姓名</b>
        </div>
        <div>
           <span>修改</span><span>删除</span>
        </div>
      </div>
      <div></div>
    </li> -->
  </ul>

  <!-- 表单 -->
  <div id="speakerFormPage">
      <!--头部-->
      <div class="modal_news_title">
        <span class='return'><img src="/img/返回.svg" alt="" /></span>
        <span>主讲人/新建主讲人信息</span>
      </div>
        <!--表单数据-->
      <form id="channelForm">
        <!-- 隐藏域 -->
        <input type="hidden" name="token" id="token">
        <input type="hidden" name="id" id="id">
        <input type="hidden" name="form_token" id="form_token">
        <input type="reset" id="reset" style="display: none;">
        <!--封面图片-->
        <div class="modal_news_img_onload">
          <p><span>主讲人头像</span><span>图片大小建议尺寸：240像素＊134像素</span><span>不超过200K</span></p>
          <input type="file" name="file" id="file"/>
          <div id="result" style="width:300px;margin-top:10px"></div>
        </div>

        <div class="modal_news_info">
          <!--主讲人-->
          <div class="form-group">
            <label for="">主讲人</label>
            <input type="text" placeholder="请输入主讲人" id="channelTitle" name="name" maxlength="40"/>
          </div>

          <!--主讲人简介-->
          <label>主讲人简介</label>
          <textarea name="desc" id="desc"></textarea>

        </div>

        <div class="modal_news_option">
         <!--  <button id="add_drafts">保存至草稿</button> -->
          <button id="release">发布</button>
        </div>
        <div class="info"></div>
      </form>
</div>

<script src="/js/speaker.js"></script>