<link rel="stylesheet" type="text/css" href="/css/statement.css">
<ul class="msg_option">
  <li class="active">佣金报表</li>
</ul>
<div class="statement">
  <div>
    <div class="query">查询条件</div>
    <form id="statementForm">
      <div>
        <div>
          <label for="brokerUsername">经纪人用户名：</label>
          <input id="brokerUsername" name="brokerUsername" type="text" style="width: 50%">
          <!--<select name="brokerUsername" id="brokerUsername">-->
          <!--<option value="">请选择</option>-->
          <!--</select>-->
        </div>
        <div>
          <label for="brokerNickname">经纪人姓名：</label>
          <input id="brokerNickname" name="brokerNickname" type="text" style="width: 50%">
          <!--<select name="brokerNickname" id="brokerNickname">-->
          <!--<option value="">请选择</option>-->
          <!--</select>-->
        </div>
        <div>
          <!--<label for="brokeId">ID：</label>-->
          <!--<select name="brokeId" id="brokeId">-->
            <!--<option value="">请选择</option>-->
          <!--</select>-->
        </div>
      </div>

      <div>
        <div>
          <label for="team">战队：</label>
          <select name="team" id="team">
            <option value="">请选择</option>
          </select>
        </div>
        <div>
          <label for="startTime">报表周期：</label>
          <input type="text" name="startTime" id="startTime">~<input type="text" name="endTime" id="endTime">
        </div>
        <div></div>
      </div>

      <div>
        <span id="select">查询</span>
      </div>
    </form>
  </div>

  <div>
    <div class="query">佣金收入趋势</div>
    <div>
      <div id="container"></div>
    </div>
  </div>
  <div>
    <div class="timeQuery">
      <div id="left" style="cursor:pointer;"><</div>
      <div id="right" style="cursor:pointer;">></div>
      <div class="content1">
        <ul class="timesuibian" style="cursor:pointer;">
        </ul>
      </div>
    </div>
    <div id="monthCome">

    </div>
  </div>
  <table id="statementTable">
    <thead>
      <tr>
        <th>序号</th>
        <th>交易编码</th>
        <th>客户姓名</th>
        <th>账户类型</th>
        <th>经纪人</th>
        <th>交易所手续费(元)</th>
        <th>代理手续费(元)</th>
        <th>佣金率(%)</th>
        <th>佣金收入(元)</th>
      </tr>
    </thead>
    <tbody class="statement_body">
      <tr>
      </tr>
    </tbody>
  </table>
  <ul class="fenye"></ul>
</div>
<script src="/js/statement.js"></script>