<link rel="stylesheet" type="text/css" href="/css/userquery.css">
<ul class="msg_option">
    <li class="active">反作弊</li>
</ul>
<div class="agent">
    <!-- <div class="channel">
      <div class="query">
            创建渠道
            <span style="float: right;cursor: pointer;" id="toggle"><img src="../source/img/下.svg" alt="" style="width: 20px"></span>
      </div>
      <form class="channelForm" id="channelForm" style="display:none">
        <div>
          <div>
            <label for="channelName">渠道名称：</label>
            <input name="channelName" id="channelName" />
          </div>
          <div>
            <label for="channelCode">渠道编号：</label>
            <input name="channelCode" id="channelCode" />
          </div>
          <div>
            <label for="modelId">合作模式：</label>
            <select name="modelId" id="modelId">
            </select>
          </div>
        </div>
        <div>
          <div>
            <label for="url">投放URL：</label>
            <input name="url" id="url" />
          </div>
          <div>
            <label for="viewFee">浏览计费：</label>
            <input name="viewFee" id="viewFee" />
          </div>
          <div>
            <label for="regFee">注册计费：</label>
            <input name="regFee" id="regFee" />
          </div>
        </div>

        <div>
          <div>
              <label for="openFee">开户计费：</label>
            <input name="openFee" id="openFee" />
            <input type="hidden" name="token" class="token" />
            <input type="hidden" name="form_token" class="form_token">
          </div>
           <div>
            <label for="pwd">查询密码：</label>
            <input name="pwd" id="pwd" />
          </div>
          <div>
          </div>
        </div>

        <div style="text-align: center">
          <span id="buildChannel">创建渠道</span>
          <span id="cancelChannel">取消</span>
        </div>

      </form>
    </div> -->

    <div class="channel">
        <div class="query">查询条件</div>
        <form class="channelForm" id="sxeForm">
            <div>
                <div>
                    <label for="user_name">用户账号：</label>
                    <input name="user_name" id="user_name"/>
                </div>
                <div>
                    <label for="channel_code">渠道编码：</label>
                    <input name="channel_code" id="channel_code"/>
                </div>
                <div>
                    <label for="">统计周期：</label>
                    <input type="text" name="start" id="start"/>~<input type="text" name="end" id="end"/>
                </div>
            </div>

            <div>
                <div>
                    <label for="ip">IP：</label>
                    <input name="ip" id="ip"/>
                </div>
                <div>
                    <label for="imei">手机唯一标识：</label>
                    <input name="imei" id="imei"/>
                </div>
                <div>
                    <label for="imsi">IMSI：</label>
                    <input type="text" name="imsi" id="imsi"/>
                    <!-- <input type="hidden" name="token" class="token"> -->
                </div>
            </div>

            <div>
        <span id="query"
              style="display:inline-block; padding: 6px 12px; cursor: pointer; background: #1E88E5; border-radius: 4px; color: #fff;margin-right: 20px">
              查询
        </span>
            </div>
        </form>
    </div>

    <div class="queryResult">
        <div>查询结果</div>
        <div>
            <span id="submit1">导出明细</span>
        </div>
    </div>

    <table class="agentTable">
        <thead>
        <tr>
            <th>序号</th>
            <th>用户账号</th>
            <th>渠道编号</th>
            <th>登录次数<br/>Android/iOS/H5/合计</th>
            <th>IP地址记录</th>
            <th>手机唯一标识记录</th>
            <th>IMSI记录</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="sxeTbody">

        </tbody>
    </table>

    <ul class="pages">
    </ul>
</div>
<div class="sxeModal">
    <div>
        <h3>查询用户重复率明细</h3>

        <div class="sxeModal1">
            <p>用户信息</p>

            <div>
                <div>用户账号：<span class="userNameShow"></span></div>
                <div>渠道ID：<span class="fromChannelShow"></span></div>
                <div>统计周期：<span class="startShow"></span>~<span class="endShow"></span></div>
                <div>渠道名称：<span class="channelNameShow"></span></div>
            </div>
        </div>
        <div class="sxeModal2">
            <p>重复率指标</p>

            <div id="tab">
                <span class="active" id="ipshow">IP</span>
                <span>手机唯一标识</span>
                <span>IMSI</span>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>序号</th>
                    <th class="tabName"></th>
                    <th>重复次数</th>
                    <th>重复率(%)</th>
                </tr>
                </thead>
                <tbody id="sxetbodytoo">
                </tbody>
            </table>
            <div style="text-align: center">
                <span id="cancelsxe"
                      style="display:inline-block;padding:6px 12px;border:1px solid #ddd;border-radius:4px;cursor:pointer;margin-top:12px">退出</span>
            </div>
        </div>
    </div>
</div>
<script src="/js/sxe.js"></script>

