<link rel="stylesheet" type="text/css" href="/css/tixian.css">
<ul class="msg_option">
  <li class="active">佣金报表</li>
</ul>
<div class="tixian">
  <div>
    <div class="query">查询条件</div>
    <form id="tixianForm">
      <div>
        <div>
          <label for="brokerUsername">经纪人用户名：</label>
          <input id="brokerUsername" name="brokerUsername" type="text" style="width: 50%">
          <!--<select name="brokerUsername" id="brokerUsername">-->
          <!--<option value="">请选择</option>-->
          <!--</select>-->
        </div>
        <div>
          <label for="brokerNickname">经纪人姓名：</label>
          <input id="brokerNickname" name="brokerNickname" type="text" style="width: 50%">
          <!--<select name="brokerNickname" id="brokerNickname">-->
          <!--<option value="">请选择</option>-->
          <!--</select>-->
        </div>
        <div>
          <!--<label for="brokeId">ID：</label>-->
          <!--<select name="brokeId" id="brokeId">-->
            <!--<option value="">请选择</option>-->
          <!--</select>-->
        </div>
      </div>

      <div>
        <div>
          <label for="status">提现状态：</label>
          <select name="status" id="status">
            <option value="">请选择</option>
          </select>
        </div>
        <div>
          <label for="startTime">申请时间：</label>
          <input type="text" name="shenqingDate" id="startTime">~<input type="text" name="endTime" id="endTime">
        </div>
        <div></div>
      </div>

      <div>
        <span id="select" style="cursor:pointer;color: rebeccapurple">查询</span>
      </div>
    </form>
  </div>

  <table id="tixianTable">
    <thead>
      <tr>
        <th>序号</th>
        <th>经纪人</th>
        <th>ID</th>
        <th>本次提现金额(元)</th>
        <th>状态</th>
        <th>申请时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody class="tixian_body">
      <tr>
      </tr>
    </tbody>
  </table>
  <ul class="fenye"></ul>
</div>
<script src="/js/tixian.js"></script>